Source: ros-foxy-stubborn-buddies
Section: misc
Priority: optional
Maintainer: Marco A. Gutiérrez <marco@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-rclcpp, ros-foxy-rclcpp-components, ros-foxy-rclcpp-lifecycle, ros-foxy-rcutils, ros-foxy-std-msgs, ros-foxy-stubborn-buddies-msgs, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-stubborn-buddies
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-rclcpp, ros-foxy-rclcpp-components, ros-foxy-rclcpp-lifecycle, ros-foxy-rcutils, ros-foxy-std-msgs, ros-foxy-stubborn-buddies-msgs, ros-foxy-ros-workspace
Description: Demo that uses node composition of lifecycle nodes to achieve fail-over robustness on ROS nodes
